/*.header {
	width: 100%;
	height: 100%;
}*/
body {
	background-color: black;
}
.header {
	text-align: center;
	padding:15px;
	color: white;
	background-color: black;
	font-size: 34px;
}
.image {
    margin-right: 0px;
    text-align: center;

}
img {
	width: 100%;
}
footer {
  color: white;
  text-align: center;
  padding:25px 0px;
  font-size: 34px;
}
